body {
  background-color: black;
  text-align: center;
}

#goback:hover {
  color: green;
  font-weight: bold;
}

#blinker {
  font-size: 185px;
  font-weight: bold;
  color: red;
}

#goback {
  font-size: 42px;
  font-weight: italic;
  color: red;
  text-decoration: none;
}
