body {
  background-color: turquoise;
  background-repeat: repeat;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-size: 40px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(100,10,170);
}

a:hover {
  color: green;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.sidecard {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
}

.card {
  border: solid;
  background-color: white;
  margin: 25px;
  padding: 7px;
  align-content: center;
  margin-left: 225px;
}

.social {
  line-height: 50px;
  text-align: center;
  color: lightblue;
  bottom:
}

.icon {
  width: 20px;
  height: 20px;
}

.todo {
  width: 150px;
  height: 150px;
}

#lewagon {
  line-height: 60px;
  font-weight: bold;
  font-size: 24px;
}

#me {
  border-radius: 150px;
  border: solid;
  width: 32%;
  height: 32%;
}

#todd {
  font-size: 22px;
}

#sidebar {
  border-right: solid;
  background-color: red;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 220px;
  align-content: left;
  position: fixed;
}

#intro {
  padding-top: 30px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
